* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  overflow: overlay;
} */
/* .full {
  margin-left: 200px;
  transition: 0.2s;
}
.mini {
  margin-left: 64px;
  transition: 0.2s;
}
.top {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.draggable {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

img {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
