body {
  font-family: -apple-system, BlinkMacSystemFont, "Manrope", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /*for Firefox */
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}
