.test111111 {
  width: 1500px;
  height: 400px;
  // border: 1px solid black;
  div {
    img {
      width: 100%;
    }
  }
}

.test1234 {
  width: 800px;
  height: 400px;
  border: 5px solid red;
  background-color: greenyellow;
  display: flex;
  justify-content: space-evenly;
  & > .a1,
  & > .a2 {
    border: 5px dotted blueviolet;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    & > div {
      border: 5px solid grey;
    }
  }
  & > .a2 {
  }
}
